/* :root {
    --title-color: ;
    --primary-color: ;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

a:link {
    text-decoration: none;
}