@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');


.card-deck {
    width: 20%;
    margin: 45px auto 40px 0;
    display: inline-block;
}

.card-deck .card {
    box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
}

.card-img {
   margin: auto;
   width: 100%;
   display: flex;
   justify-content: center;
}

.card-title {
    margin-top: 7%;
    align-items: center;
}

.card-deck .card-text {
    font-size: small;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 16px;
    color: #232120;
    padding-bottom: 15px;
}

.card-text, .card-title {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
}

@media screen and (min-width: 768px) {
    .card-deck {
        width: calc(100% / 2);
    }
}

@media screen and (min-width: 900px) {
    .card-deck {
        width: calc(100% / 4);
    }
}