.navbar {
    padding: 1%;
    background-color: rgb(71, 104, 175);
} 

.logo {
    width: 150px;
    margin-left: 5%; 
}

.link-login  {
    width: 100px;
    color: #fff;
    font-weight: 500;
    margin-left: 600%;
}

.link-login:hover {
    color: #59cbe2;
}


