@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

.principal {
    position: absolute;
    padding-top: 3%;
    padding-left: 30%;
    width: 750px;
}

#box-input {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 10%;
    border: 1px solid #d4d4d4;
    padding: 30px 15px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
}

h2 {
    margin-left: 28%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.btn-form-registrar {
    color: #000000;
    font-weight: 500;
    border-radius: 5px;
    border: 3px solid #2096ad;
    border-radius: 50px;
    width: 110px;
    background-color: transparent;
    margin-left: 38%;
    display:block;
    margin-top: 2%;
}

.btn-form-registrar:hover {
    border: 2px solid #2096ad;
    background-color: #2096ad;
    color: #FFF;
    font-weight: 500;
    box-shadow: 6px 12px 15px rgba(0,0,0,0.1);
}

.btn-form-acessar {
  background-color: #2096ad;
  border: 3px solid #2096ad;
  color: #FFF;
  font-weight: 500;
  border-radius: 50px;
  width: 110px;
  margin-top: 5%;
  margin-left: 38%;
  margin-bottom: 2%;
  align-items: center;
}

.btn-form-acessar:hover,
.btn-form-acessar.btn:active:hover,
.btn-form-acessar.btn:not(:disabled):not(.disabled):active  {
  background-color: #36b7d1;
  border: 3px solid #36b7d1;
  font-weight: 500;
  color: #ffffff;
}


.btn-form-registrar.btn:focus,
.btn-form-registrar.btn:not(:disabled):not(.disabled):active  {
  border: 2px solid #2096ad;
  background-color: #2096ad;
  font-weight: 500;
}

.link-forget-senha {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

.p-registro {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 200px;
    text-align: center;
}

.btn-salvar {
    background-color: #2096ad;
    border: 3px solid #2096ad;
    color: #ffffff;
    font-weight: 500;
    border-radius: 50px;
    width: 110px;
    margin: 2%; 
    margin-top: 10%;
  }
  
  .btn-salvar:hover,
  .btn-salvar.btn:active:hover,
  .btn-salvar.btn:not(:disabled):not(.disabled):active  {
    background-color: #36b7d1;
    border: 3px solid #36b7d1;
    font-weight: 500;
    color: #ffffff;
  }
  
  .btn-sair {
      background-color: #df396b;
      border: 3px solid #df396b;
      color: #FFF;
      font-weight: 500;
      border-radius: 50px;
      width: 110px;
      margin: 2%;
      margin-top: 10%;
    }
    
    .btn-sair:hover,
    .btn-sair.btn:active:hover,
    .btn-sair.btn:not(:disabled):not(.disabled):active  {
      background-color: #e64d7b;
      border: 3px solid #e64d7b;
      font-weight: 500;
      color: #ffffff;
    }
  
    .avatar {
      margin-top: 2%;
      width: 150px;
      display: block;
    } 
  
    .avatar, .nome {
      margin-left: 7%;
      display: inline-block;
    }
  
    .nome {
      clear: both;
      content: "";
    }
